[package]
name = "corpus-queries-impl"
version = "0.1.0"
authors = ["Vytautas Astrauskas <vastrauskas@gmail.com>"]
edition = "2018"
license = "MIT"

[lib]
proc-macro = true

[dependencies]
corpus-database-dsl = { path = "../database-dsl" }
proc-macro-hack = "0.5"
